/* Palette colour codes */
/* Palette URL: http://paletton.com/#uid=33x0O0kllllaFw0g0qFqFg0w0aF */

:root {
--col-p0:#29506D;	/* Primary colours */
--col-p1:#718EA4;
--col-p2:#496D89; 
--col-p3:#123652; 
--col-p4:#042037;

--col-s1:#FFF3AA;  /* Secondary colours */
--col-s0:#AA9A39;	
--col-s2:#D4C66A;
--col-s3:#807115;
--col-s4:#554900;

--col-t0:#A23645;	/* Tertiary colours */
--col-t1:#F3A2AD;
--col-t2:#CA6573;
--col-t3:#791422;
--col-t4:#51000B;
}