@import "palette.css";

body {
  background-color: var(--col-p0);
}
h2 {
  color: var(--col-p2);
  text-align: center;
  border: 0.2rem solid;
}
li {
  list-style: none;
  display: inline;
}
p {
  color: var(--col-p4);
}