body,
html {
  width: 100%;
  height: 100%; 
}
header.startup {
  background-position: center;
  background-image: url("main_background.jpg");
  background-size: cover;
  height: 100%;
}
h1 {
  color: aliceblue;
}
.lead {
  color: aliceblue;
  font-size: 1rem;
}
.form-group {
  width: 70%;
}
.spacer {
  height: 5rem;
}