.body {
  background-image: url(main_background.jpg);
  background-size: auto;
}
.jumbotron {
  text-align: center;  
  background-color: #28153de7;
}
h1 {
  color: aliceblue;
}
.lead {
  color: aliceblue;
  font-size: 1rem;
}
.form-group {
  width: 50%;
}